/* Sintaxe CORRETA para Tailwind v4 */
@import "tailwindcss";

/* Você ainda pode adicionar seus keyframes e classes personalizadas aqui */
@layer utilities {
  .animation-float {
    animation: float 4s ease-in-out infinite;
  }
}

@theme {
  --color-azulGustavo: #00A2FF;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

html {
  scroll-behavior: smooth;
}